<!DOCTYPE html>
<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <title>all articles - jb.dev</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/styles-main.css}">
</head>
<body>
    <div class="main">
        <div class="main-head">
            <h1 class="tnt">All Articles</h1>
        </div>
        <div class="main-link">
            <div class="main-link-login">
                <a href="/logout">Log out</a>
            </div>
        </div>
    </div>
    <hr class="style-two">
    <div class="main-article">
        <div class="articles" th:each="article : ${articles}">
            <p th:text="${article.dateCreated}" class="ma-para"></p>
            <a th:href="|/individual/${article.articleID}|"><span th:text="${article.title}" class="main-t"></span></a>
            <hr class="style-two">
        </div>

    </div>
</body>
</html>
